*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(49, 49, 49);
}
.cabecalho{
  padding: 20px;
  background-image: linear-gradient(rgb(39, 39, 39),rgb(97, 97, 97));
  margin-bottom: 40px;
}
.rodape{
  padding: 20px;
  background-image: linear-gradient(rgb(39, 39, 39),rgb(97, 97, 97));
  margin-top: 50px;
}
.rodape p{
  color: white;
  text-align: center;
}
.logo{
  display: flex;
}
.logo img{
  width: 50px;
  border-radius: 50%;
}
.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #f0efff, 0 0 3vw #fafaff, 0 0 10vw #fafafd, 0 0 10vw #f8f8ff, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #ffffff;
  }
  50% {
    text-shadow: 0 0 .5vw #090083, 0 0 1.5vw #090083, 0 0 5vw #090083, 0 0 5vw #090083, 0 0 .2vw #090083, .5vw .5vw .1vw #40340A;
    color: #ffffff;
  }
}


